- provide(:title, t('.title'))

%main{:role => "main"}
  %section.text-center
    .container.px-0
      .card.bg-dark.text-white.border-0
        = image_tag "home-main.jpg", :class => "card-img"
        .card-img-overlay
          %h5.card-title Card title
          %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
          %p.card-text Last updated 3 mins ago
  .album.py-5
    .container.px-0
      .row
        .col-md-4
          .card.mb-4.box-shadow
            = image_tag "one.jpg", :class => "card-img-top"
            .card-body
              %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        .col-md-4
          .card.mb-4.box-shadow
            = image_tag "one.jpg", :class => "card-img-top"
            .card-body
              %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        .col-md-4
          .card.mb-4.box-shadow
            = image_tag "one.jpg", :class => "card-img-top"
            .card-body
              %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        .col-md-4
          .card.mb-4.box-shadow
            = image_tag "one.jpg", :class => "card-img-top"
            .card-body
              %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        .col-md-4
          .card.mb-4.box-shadow
            = image_tag "one.jpg", :class => "card-img-top"
            .card-body
              %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        .col-md-4
          .card.mb-4.box-shadow
            = image_tag "one.jpg", :class => "card-img-top"
            .card-body
              %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
