- provide(:title, t('.title'))

- content_for :main_body do
  .container-fluid
    .row
      .col-md-12
        %table.table.text-center.table-bordered
          %thead
            %tr
            
              %th 
                = Setting.results.title
              %th 
                = Setting.results.content
              %th 
                = Setting.results.order
              %th
          %tbody
            %tr
            
              %td
                = @result.title
              %td
                = @result.content
              %td
                = @result.order
              %td
                = link_to 'è¿”å›', results_path, :class => "btn btn-danger"
    

= render "layouts/control_panel"
