- provide(:title, t('.title'))

- content_for :main_body do
  .container-fluid
    .row
      .col-md-3
        = render "layouts/system_search"
    .row.buyer-table-ctn
      .col-md-12
        %table.table.text-center.table-bordered.table-list-search
          %thead
            %tr
              %th #
            
              %th 
                = Setting.reports.title
              %th 
                = Setting.reports.content
              %th
          %tbody
            - @reports.each_with_index do |report, index|
              %tr
                %td
                  = index+1
              
                %td
                  = report.title
                %td
                  = report.content
                %td
                  = link_to "查看", report_path(report), :class => "btn btn-primary btn-sm"

= render "layouts/control_panel"
